*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
  background-color: honeydew;
}
.title{
  margin-top: 20px;
  margin-left: 20px;
}
.calculator{
    margin: 100px;
    background-color: #333;
    inset: -5px -5px 15px rgba(0,0,0,0.5);
    inset: 5px 5px 15px rgba(0,0,0,0.5);
   box-shadow: 25px 25px 75px rgb(0, 0, 0);
  width: 350px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 450px;
  border-radius: 20px;
  
}
#text-area{
  background-color: #a7af7c;
  box-shadow: 0 0 0 2px rgba(0,0,0,0.25);
  color: black;
  text-align: right;
  padding: 20px;
  width: 350px;
  font-weight: 900;
  border-radius: 5px;
  height: 100px;
  font-size: 4em;
  

}
.btn{
  color:white;
  box-shadow: inset -8px 0 8px rgba(0,0,0,0.15),
  0 0 0 2px rgba(0,0,0,0.25), 10px 20px 25px rgba(0,0,0,0.4);;
  padding: 15px;
  font-weight: 900;
 margin-top: 30px;
  margin-bottom: 10px;
  border-radius: 25px;
  border: 6px;
  border-color: white;
  background: linear-gradient(100deg, #2f2f2f, #3f3f3f);
}

.btn:hover{
  background-color: grey;
}
.btn1:hover{
  background-color: red;
}
.btn:active{
  background-color: whitesmoke;
}
.btn1:active{
  filter: brightness(1.5);
}
.input-text1{
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  
}
.input-text2{
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  
}
.input-text3{
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  
}
.input-text4{
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;

}
.input-text5{
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;

}
.btn1{
  color:white;
  padding: 15px;
  font-weight: 900;
 margin-top: 30px;
  margin-bottom: 10px;
  border-radius: 25px;
  box-shadow: inset -8px 0 8px rgba(0,0,0,0.15),
  0 0 0 2px rgba(0,0,0,0.25), 10px 20px 25px rgba(0,0,0,0.4);
  border: none;
  background: linear-gradient(100deg, #2f2f2f, #3f3f3f);
  background: blue;
}
@media (max-width: 767px) {
  .calculator{
    margin: 50px;
    height: 200%;
    width: 200px;
    margin-top: 50px;
  }
  .btn{
    padding: 2px;
   }
   .btn1{
    padding: 2px;
   }
   .text{
    width: 100px;
   }
  #text-area{
    width: 200px;
  }
}
